{% if n8n_container_labels_traefik_enabled %}
traefik.enable=true

{% if n8n_container_labels_traefik_docker_network %}
traefik.docker.network={{ n8n_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if n8n_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ n8n_identifier }}-slashless-redirect.redirectregex.regex=({{ n8n_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ n8n_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [n8n_identifier + '-slashless-redirect'] %}
{% endif %}

{#
	Intentionally not adding a stripPrefix middleware.
	n8n seems to serve itself under the same prefix it sees in the BASE_URL environment variable.
#}

{% if n8n_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in n8n_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ n8n_identifier }}-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [n8n_identifier + '-add-headers'] %}
{% endif %}

traefik.http.routers.{{ n8n_identifier }}.rule={{ n8n_container_labels_traefik_rule }}
{% if n8n_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ n8n_identifier }}.priority={{ n8n_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ n8n_identifier }}.service={{ n8n_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ n8n_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ n8n_identifier }}.entrypoints={{ n8n_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ n8n_identifier }}.tls={{ n8n_container_labels_traefik_tls | to_json }}
{% if n8n_container_labels_traefik_tls %}
traefik.http.routers.{{ n8n_identifier }}.tls.certResolver={{ n8n_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ n8n_identifier }}.loadbalancer.server.port=5678
{% endif %}

{{ n8n_container_labels_additional_labels }}
